*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;;
   
}
body {
    background-color: black;
}

img{
    width: 600px;
    height: 400px;
    margin-bottom: 30px;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
   
}
.gallery img{
    width: 100%;

} 
@media (max-width: 1300px) {
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

}