* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family:'Josefin Slab', serif;
   
}

/* containers starts */
h1 {
    color: orangered;
    text-align: center;
    font-size: 2.4rem;
    margin: 50px;
    
}

h2 {
    color: orange;
    text-align: center;
    font-size: 2.0rem;
    margin: 50px;
    
}
h3 {
    color: orangered;
    text-align: center;
    font-size: 2.4rem;
    margin: 50px;
     
}
h4 {
    color: red;
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
}
span {
    color:aliceblue

}

.tag{
    padding: 50px;
}
.container-one {
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px olivedrab;
    background-color: black;
  

   
}

.container-two {
    max-width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.container-three {
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px olivedrab;
    background-color: black;
    box-sizing: border-box;

}
.container-three img {
    width: 600px;
    height: 400px;
}
.container-four {
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.container-four img {
    margin-top: 20px;
}
.container-five {
    max-width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.container-six {
    max-width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}
.container-six img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}
.container-seven {
    max-width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px olivedrab;
    background-color: black;
    box-sizing: border-box;
    
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.advicebtn{
    position: relative;
    background: red;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    

}
.advicebtn:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
@media (max-width: 1500px){
    
    .container-one {
        flex-direction: column;
    }
    .container-one img {
        width: 100%;
        height: 500px;
    }
    .container-seven {
        flex-direction: column;
    }
    .container-seven img {
        width: 100%;
        height: 500px;
    }
    
}
@media (max-width: 1200px) {
    .menu .nav-link{
      display: none;
    }
    .menu .toggle_btn{
      display: none;
   }
   @media (max-width: 600px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
   }
   }