*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Josefin Slab', serif;
}

body{
    width: 100%;
    height: 100vh;
    background: url("/images/India.img/travel2.png") no-repeat center;
    background-size: cover;
    

}
/* Style the hamburger menu */
.menu .toggle_btn {
  
    cursor: pointer;
    display: none;
  }
  
  .bar{
    color: orange;
    position: absolute;
    left: 90%;
    top: 25px;
    font-size: 2.5rem;
  }
  a.nav-link{
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
  font-family:'Josefin Slab', serif;
  }
  a.nav-link:hover{
    color: #00b894;
  font-size: x-large;
  }
  
  /*Dropdown Menu*/
  .dropdown_menu{
    position: absolute;
    right: 1rem;
    top: 95px;
    height: 0;
    width: 300px;
    background-color: black;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  }
  .dropdown_menu.open{
    height: 240px;
  }
  
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.content-box{
    max-width: 850px;
    display: grid;
    grid-tempLate-coLumns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px salmon; 
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 0.1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: orange;
}

.field:focus{
    background-color: #fff;
    border: 2px solid white;
}



.btn{
   width: 100%;
   padding: 0.5rem 0.1rem; 
   font-size: 1.1rem;
   background-color: #2ecc71;
   cursor: pointer;
   outline: none;
   border: none;
   color: aliceblue;
   transition: .3s;
}

.btn:hover{
    background-color: #1bdf6c;
}


@media screen and (max-width:850px) {
    .contact-box{
        grid-template-columns: 1fr;
    }
    
    .field{
        padding: 0.5rem 0.1rem;
    }
}

@media (max-width: 1200px) {
    .menu .nav-link{
      display: none;
    }
    .menu .toggle_btn{
      display: block;
   }
   @media (max-width: 600px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
   }
   }