*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 10vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    font-family:'Josefin Slab', serif;

}
nav .logo{
    width: 25%;
    text-align: center;
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-between;

}
nav .menu a {
    width: 25%;
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
nav .menu a:first-child{
    color: #00b894;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section{
    margin-top: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    color: orange;
    text-shadow: 1px 2px 4px black;
}
section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    color: orangered;
    text-shadow: 2px 1px 5px white;
    text-transform: capitalize;
}
section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    color: olive;
    text-shadow: 1px 1px 1px black;
    font-family:'Josefin Slab', serif;
}
section a{
    padding: 12px;
    border-radius: 4px;
    outline:none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1px;
    color: red;
    transition: all .5s ease;
}
section .btnone{
    background:aliceblue;  
}
.btnone:hover{
    background: #00b894;
}

section .btntwo{
    background: #00b894;
}

.btntwo:hover{
    background: aliceblue;
}
.animate__heartBeat{
animation-duration: 5s;
}
.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Agra"; color: #00b894;}
    20%{content: "Delhi";}
    40%{content: "Darjeeling";}
    60%{content: "Jaipur";}
    80%{content: "Mumbai";}
    100%{content: "Kerala";}
}



/* Digital Clock*/
.containerone{
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1567255097545-018d2b9c414c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
    
}
h2{
    text-transform: uppercase;
    letter-spacing:4px;
    font-size: 24px;
    text-align: center;
    color: aliceblue;
    margin-top: 30%;
}
.clock{
    display: flex;
    
}
.clock div{
    margin: 5px;
    align-items: center;
    position: relative;
}

.clock span{
    width: 200px;
    height: 100px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.clock .text{
    height:  40px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: blue;
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 80px;
    height: 30px;
    font-size: 20px;
    background: green;
    border-radius: 1ch;
}
/* container 2 */
.text h3{
    color: orangered;
    text-align: center;
    font-size: 2.2rem;
    padding: 20px;
}
.text h4{
    text-align: center;
    color: olive;
  }
  h5.card-title{
    color: goldenrod;
    font-size: 1.2rem;
  }
.card-deck{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  a.see{
    text-align: center;
    color: #00b894;
    display: flex;
    justify-content: center;
  }
  a.see:hover{
color: aliceblue;
  }
  .containertwo{
   background-color: #020405;
  }
 
  p{
    color: orange;
    text-align: center;
    font-family:'Josefin Slab', serif;
  }
  p.card-text{
    text-align: center;
    padding: 10px;
  }
  .text{
    top: 0;
    position: relative;
    width: auto;
    margin: auto;
    padding-bottom: 50px;
  }
 
  .a:hover{
    transition: 0.3s;
    transform: scale(0.9);
    opacity: 0.5;
  }
  
  .row{
    padding: 0;
  }
  /* container 3 */
  .containerthree{
    background-color: #020405;
  }
  .card-group{
    margin: auto;
    border: none;
    width: 60%;
    background-color: inherit;
  }
  .card{
    background-color: inherit;
    padding: 10px;
  }
  .card-body{
    background-color: #020405;
  }
  
  /* footer */
  
  .footer{
    margin: auto;
    position: relative;
    top: 600px;
  }
  .logos{
    margin-left: 45%;
    margin-right: 45%;
    width: 20%;
  }
  .fwall{
    background-image: url("https://images.unsplash.com/photo-1615966650071-855b15f29ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFuZGFtYW4lMjBhbmQlMjBuaWNvYmFyJTIwaXNsYW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    width: 100%;
    height: 700px;
    /* position: absolute; */
  }
  .details{
    position: absolute;
    text-align: center;
  }